@media screen and (max-width: 786px) {
    body {
        margin: 2rem;
    }

    header .header-mobile {
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 0;
    }

    header .header-mobile img {
        max-width: 50%;
    }

    header .header-mobile button {
        background: url('assets/menu-icon.png') center / 1.5rem no-repeat;
        width: 2rem;
        height: 2rem;
        border: none;
    }

    header nav {
        display: none;
    }

    main .hero {
        display: flex;
    }

    main .hero:after { 
        content: '';
        background: url('assets/graphic.svg') top -10px right -170px no-repeat;
        background-size: 22rem;
        padding: 171px 190px;
        position: absolute;
        right: 11.5rem; 
        transform: translateX(50%); 
    }

    main .hero .hero-text {
        padding-top: 4rem;
    }

    main .hero-text b {
        color: #FF3998;
    }

    main .hero-text p {
        padding: 0rem 9rem 0.5rem 0rem;
        color: #555555;
    }

    main .hero-text h1 {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    main button.button {
        border-radius: 100rem;
        font-size: 1rem;
        padding:1rem 2rem;
        color: black;
        border: solid 4px transparent;
        background-image: linear-gradient(rgba(255,57,57, 0), rgba(255,129,57, 0), rgb(57,255,160, 0)), linear-gradient(101deg, #FF3939, #FF8139, #39FFA0);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
    }  

    main .button a {
        text-decoration: none;
        color: black;
    }

    main .upsell {
        background: url('assets/background.svg') right / cover;
        margin: -2rem;
        margin-top: 3rem;
    }

    main .upsell h2 {
        padding: 4rem 6rem 0rem 1rem;
    }

    main .upsell p {
        padding: 0rem 6rem 2rem 1rem;
    }

    main .press {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 1rem 1rem;
        grid-template-areas:
        "boomerang blimp"
        "qrco droplet";
    }

    main .press .Boomerang {
        grid-area: boomerang;
    }

    main .press .Boomerang img {
        width: 10rem;
    }

    main .press .Blimp {
        grid-area: blimp;
    }

    main .Blimp img {
        width: 7rem;
    }

    main .press .qrco{
        grid-area: qrco;
    }

    main .qrco img {
        width: 6rem;
    }

    main .press .Droplet {
        grid-area: droplet;
    }

    main .Droplet img {
        width: 8rem;
    }

    main .press .OpenDoor {
        display: none;
    }

    main .showcase {
        margin-top: 3rem;
    }

    main .showcase h2 {
        margin-right: 5rem;
    }

    main .showcase p {
        color: #555555;
    }

    main .showcase p a {
        color: #555555;
    }

    main .ntf {
        display: flex;
        overflow: auto;
    }

    .ntf::-webkit-scrollbar {
        display: none;
    }

    main .ntf {
        display: flex;
        justify-content: space-between;
    }

    main .nft1-image {
        position: relative;
        background-color: #EEEEEE;
        border-radius: 1rem;
    }

    main .ntf .nft1-image .about {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    main .ntf .nft1-image img:first-child {
        width: 16rem;
        height: 15rem;
    }

    main .ntf .nft1-image .about .right-side {
        text-align: right;
    }

    main .ntf .nft1-image .about .left-side b {
        color: #FF8139;
        font-size: 0.6rem;
    }

    main .ntf .nft1-image .left-side h3 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft1-image .left-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft1-image .right-side b {
        font-size: 0.6rem;
        color: #555555; 
    }

    main .ntf .nft1-image .right-side h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft1-image .right-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft1-image .right-side .ethimg {
        display: flex;
        justify-content: space-between;
    }

    main .ntf .nft1-image .right-side .ethimg img {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .ntf .nft2-image {
        position: relative;
        background-color: #EEEEEE;
        border-radius: 1rem;
    }

    main .ntf .nft2-image .about {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    main .ntf .nft2-image img:first-child {
        width: 16rem;
        height: 15rem;
    }

    main .ntf .nft2-image .right-side {
        text-align: right;
    }

    main .ntf .nft2-image .left-side b {
        color: #FF8139;
        font-size: 0.6rem;
    }

    main .ntf .nft2-image .left-side h3 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft2-image .left-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft2-image .right-side b {
        font-size: 0.6rem;
        color: #555555; 
    }

    main .ntf .nft2-image .right-side h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft2-image .right-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft2-image .right-side .ethimg {
        display: flex;
        justify-content: space-between;
    }

    main .ntf .nft2-image .right-side .ethimg img {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .ntf .nft3-image {
        position: relative;
        background-color: #EEEEEE;
        border-radius: 1rem;
    }

    main .ntf .nft3-image .about {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    main .ntf .nft3-image img:first-child {
        width: 16rem;
        height: 15rem;
    }

    main .ntf .nft3-image .right-side {
        text-align: right;
    }

    main .ntf .nft3-image .left-side b {
        color: #FF8139;
        font-size: 0.6rem;
    }

    main .ntf .nft3-image .left-side h3 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft3-image .left-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft3-image .right-side b {
        font-size: 0.6rem;
        color: #555555; 
    }

    main .ntf .nft3-image .right-side h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft3-image .right-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft3-image .right-side .ethimg {
        display: flex;
        justify-content: space-between;
    }

    main .ntf .nft3-image .right-side .ethimg img {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .ntf .nft4-image {
        position: relative;
        background-color: #EEEEEE;
        border-radius: 1rem;
    }

    main .ntf .nft4-image .about {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    main .ntf .nft4-image img:first-child {
        width: 16rem;
        height: 15rem;
    }

    main .ntf .nft4-image .right-side {
        text-align: right;
    }

    main .ntf .nft4-image .left-side b {
        color: #FF8139;
        font-size: 0.6rem;
    }

    main .ntf .nft4-image .left-side h3 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft4-image .left-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft4-image .right-side b {
        font-size: 0.6rem;
        color: #555555; 
    }

    main .ntf .nft4-image .right-side h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft4-image .right-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft4-image .right-side .ethimg {
        display: flex;
        justify-content: space-between;
    }

    main .ntf .nft4-image .right-side .ethimg img {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .footer-upsell {
        display: flex;
        margin-top: 3rem;
    }

    main .footer-upsell:after { 
        content: '';
        background: url('assets/upsell-footer-image.svg') top 99px right -30px no-repeat;
        background-size: 9rem;
        padding: 212px 186px;
        position: absolute;
        right: 11.5rem; 
        transform: translateX(50%); 
        border-bottom: 2px solid #c5bebe;
        border-top: 2px solid #c5bebe;
    }

    main .footer-upsell .hero2 {
        padding-top: 3rem;
    }

    main .footer-upsell .hero2 b {
        color: #FF3998;
        margin: 0;
        padding: 0rem 9rem 0.5rem 0rem;
    }

    main .footer-upsell .hero2 p {
        padding: 0rem 9rem 0.5rem 0rem;
        border-top: 2px solid #c5bebe;
        color: #555555;
    }

    main .footer-upsell .hero2 h1 {
        font-size: 2.5rem;
        margin-right: 6rem;
    }

    main .footer-upsell button.button2 {
        border-radius: 100rem;
        font-size: 1rem;
        padding:1rem 2rem;
        color: black;
        border: solid 4px transparent;
        background-image: linear-gradient(rgba(255,57,57, 0), rgba(255,129,57, 0), rgb(57,255,160, 0)), linear-gradient(101deg, #FF3939, #FF8139, #39FFA0);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
    }  

    main .footer-upsell .button2 a {
        text-decoration: none;
        color: black;
    }

    footer .regulations {
        margin-top: 5rem;
    }

    footer .footer-left {
        margin: 3rem 0rem;
    }

    footer .footer-left p {
        color: #555555;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    footer .footer-left .media-icon img {
        margin-right: 0.5rem;
    }

    footer .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    footer .footer-right a {
        text-decoration: none;
        color: #555555;
    }

    footer .footer-right .about {
        display: flex;
        flex-direction: column;
    }

    footer .footer-right .nft{
        display: flex;
        flex-direction: column;
    }

    footer .footer-right .contact{
        display: flex;
        flex-direction: column;
    }

    footer .footer-right .social{
        display: flex;
        flex-direction: column;
    }

    footer .footer-right .about-ntf {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-right: 4rem;
    }

    footer .footer-right .contact-social {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-right: 4rem;
    }

    footer .footer-right .about-ntf .about b {
        margin-bottom: 1rem;
    }

    footer .footer-right .about-ntf .about a {
        margin-bottom: 0.5rem;
        color: #999999;
    }

    footer .footer-right .about-ntf .nft b {
        margin-bottom: 1rem;
    }

    footer .footer-right .about-ntf .nft a {
        margin-bottom: 0.5rem;
        color: #999999;
    }

    footer .footer-right .contact-social .contact b {
        margin-bottom: 1rem;
    }

    footer .footer-right .contact-social .contact a {
        margin-bottom: 0.5rem;
        color: #999999;
    }

    footer .footer-right .contact-social .social b {
        margin-bottom: 1rem;
    }

    footer .footer-right .contact-social .social a {
        margin-bottom: 0.5rem;
        color: #999999;
    }

    footer .bottom p:first-child {
        color: #999999;
    }

    footer .bottom p:last-child {
        display: none;
    }
}
@media screen and (min-width: 787px) {
    body {
        margin: 3rem;
    }

    header .header-mobile {
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 0;
    }

    header .header-mobile button {
        display: none;
    }

    .header-mobile nav a{
        text-decoration: none;
        color: black;
        margin-left: 2rem;
    }

    .header-mobile nav a:last-child{
        color: #FF3998;
    }

    main .hero {
        display: flex;
        margin-top: 5rem 0;
    }

    main .hero:after { 
        content: '';
        background: url('assets/graphic.svg') top 0px right -6px no-repeat;
        background-size: 29rem;
        padding: 241px 251px;
        position: absolute;
        right: 22.5rem; 
        transform: translateX(50%); 
    }

    main .hero .hero-text {
        padding-top: 4rem;
    }

    main .hero-text b {
        color: #FF3998;
    }

    main .hero-text p {
        padding: 0rem 32rem 0.5rem 0rem;
        color: #555555;
    }

    main .hero-text h1 {
        font-size: 4.5rem;
        font-size: bold;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    main button.button {
        border-radius: 100rem;
        font-size: 1rem;
        padding:1rem 2rem;
        color: black;
        border: solid 4px transparent;
        background-image: linear-gradient(rgba(255,57,57, 0), rgba(255,129,57, 0), rgb(57,255,160, 0)), linear-gradient(101deg, #FF3939, #FF8139, #39FFA0);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
    }  

    main .button a {
        text-decoration: none;
        color: black;
    }

    .upsell {
        background: url('assets/background.svg') right / cover;
        margin: -1rem;
        margin-top: 10rem;
        border-radius: 1rem;
    }

    main .upsell h2 {
        padding: 7rem 6rem 0rem 2rem;
    }

    .upsell p {
        padding: 0rem 6rem 2rem 2rem;
    }

    main .press {
        display: flex;
        justify-content: space-between;
        margin-top: 7rem;
    }

    main .showcase {
        margin-top: 7rem;
        margin-bottom: 4rem;
    }

    .showcase p {
        margin-top: 2rem;
    }

    .showcase p a {
    color: black;
    }

    main .ntf {
        display: flex;
        justify-content: space-between;
    }

    main .nft1-image {
        position: relative;
        background-color: #EEEEEE;
        border-radius: 1rem;
    }

    main .ntf .nft1-image .about {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    main .ntf .nft1-image img:first-child {
        width: 16rem;
        height: 15rem;
    }

    main .ntf .nft1-image .about .right-side {
        text-align: right;
    }

    main .ntf .nft1-image .about .left-side b {
        color: #FF8139;
        font-size: 0.6rem;
    }

    main .ntf .nft1-image .left-side h3 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft1-image .left-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft1-image .right-side b {
        font-size: 0.6rem;
        color: #555555; 
    }

    main .ntf .nft1-image .right-side h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft1-image .right-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft1-image .right-side .ethimg {
        display: flex;
        justify-content: space-between;
    }

    main .ntf .nft1-image .right-side .ethimg img {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .ntf .nft2-image {
        position: relative;
        background-color: #EEEEEE;
        border-radius: 1rem;
    }

    main .ntf .nft2-image .about {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    main .ntf .nft2-image img:first-child {
        width: 16rem;
        height: 15rem;
    }

    main .ntf .nft2-image .right-side {
        text-align: right;
    }

    main .ntf .nft2-image .left-side b {
        color: #FF8139;
        font-size: 0.6rem;
    }

    main .ntf .nft2-image .left-side h3 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft2-image .left-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft2-image .right-side b {
        font-size: 0.6rem;
        color: #555555; 
    }

    main .ntf .nft2-image .right-side h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft2-image .right-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft2-image .right-side .ethimg {
        display: flex;
        justify-content: space-between;
    }

    main .ntf .nft2-image .right-side .ethimg img {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .ntf .nft3-image {
        position: relative;
        background-color: #EEEEEE;
        border-radius: 1rem;
    }

    main .ntf .nft3-image .about {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    main .ntf .nft3-image img:first-child {
        width: 16rem;
        height: 15rem;
    }

    main .ntf .nft3-image .right-side {
        text-align: right;
    }

    main .ntf .nft3-image .left-side b {
        color: #FF8139;
        font-size: 0.6rem;
    }

    main .ntf .nft3-image .left-side h3 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft3-image .left-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft3-image .right-side b {
        font-size: 0.6rem;
        color: #555555; 
    }

    main .ntf .nft3-image .right-side h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft3-image .right-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft3-image .right-side .ethimg {
        display: flex;
        justify-content: space-between;
    }

    main .ntf .nft3-image .right-side .ethimg img {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .ntf .nft4-image {
        position: relative;
        background-color: #EEEEEE;
        border-radius: 1rem;
    }

    main .ntf .nft4-image .about {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    main .ntf .nft4-image img:first-child {
        width: 16rem;
        height: 15rem;
    }

    main .ntf .nft4-image .right-side {
        text-align: right;
    }

    main .ntf .nft4-image .left-side b {
        color: #FF8139;
        font-size: 0.6rem;
    }

    main .ntf .nft4-image .left-side h3 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft4-image .left-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft4-image .right-side b {
        font-size: 0.6rem;
        color: #555555; 
    }

    main .ntf .nft4-image .right-side h3 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    main .ntf .nft4-image .right-side p {
        margin-top: 0.4rem;
        color: #555555;
    }

    main .ntf .nft4-image .right-side .ethimg {
        display: flex;
        justify-content: space-between;
    }

    main .ntf .nft4-image .right-side .ethimg img {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .footer-upsell {
        display: flex;
        margin-top: 6rem;
    }

    main .footer-upsell:after { 
        content: '';
        background: url('assets/upsell-footer-image.svg') top 41px right 10px no-repeat;
        background-size: 10rem;
        padding: 318px 162px;
        position: absolute;
        right: 27.5rem; 
        transform: translateX(50%); 
    }

    main .footer-upsell .hero2 {
        padding-top: 4rem;
    }

    main .hero2 b {
        color: #FF3998;
    }

    main .hero2 p {
        padding: 0rem 32rem 0.5rem 0rem;
        color: #555555;
    }

    main .hero2 h1 {
        font-size: 4.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    main .footer-upsell .hero2 button.button2 {
        border-radius: 100rem;
        font-size: 1rem;
        padding:1rem 2rem;
        color: black;
        border: solid 4px transparent;
        background-image: linear-gradient(rgba(255,57,57, 0), rgba(255,129,57, 0), rgb(57,255,160, 0)), linear-gradient(101deg, #FF3939, #FF8139, #39FFA0);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
    } 

    main .button2 a {
        text-decoration: none;
        color: black;
    }

    footer .regulations {
        display: flex;
        justify-content: space-between;
        margin-top: 15rem;
    }

    footer .footer-left {
        margin: 3rem 0rem 3rem 0rem;
    }

    footer .footer-left p {
        color: #555555;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    footer .footer-left .media-icon img {
        margin-right: 0.5rem;
    }

    footer .footer-right {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 3rem 0rem 3rem 0rem;

    }

    footer .footer-right .about-ntf {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 10rem;
    }

    footer .footer-right .contact-social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .footer-right a {
        text-decoration: none;
        color: #555555;
    }

    footer .footer-right .about {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-right: 10rem;

    }

    footer .footer-right .nft{
        display: flex;
        flex-direction: column;
    }

    footer .footer-right .contact{
        display: flex;
        flex-direction: column;
        margin-right: 10rem;
    }

    footer .footer-right .social{
        display: flex;
        flex-direction: column;
    }

    footer .footer-right .about-ntf .about b {
        margin-bottom: 1rem;
    }

    footer .footer-right .about-ntf .about a {
        margin-bottom: 0.5rem;
    }

    footer .footer-right .about-ntf .nft b {
        margin-bottom: 1rem;
    }

    footer .footer-right .about-ntf .nft a {
        margin-bottom: 0.5rem;
    }

    footer .footer-right .contact-social .contact b {
        margin-bottom: 1rem;
    }

    footer .footer-right .contact-social .contact a {
        margin-bottom: 0.5rem;
    }

    footer .footer-right .contact-social .social b {
        margin-bottom: 1rem;
    }

    footer .footer-right .contact-social .social a {
        margin-bottom: 0.5rem;
    }
    
    footer .bottom {
        display: flex;
        justify-content: space-between;
    }

}
